---
import Layout from "../layouts/Layout.astro";
---

<Layout title='subpage'>
    <h1>Subpage</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia voluptatem eaque molestias placeat quas, nihil
        unde. Natus ducimus deserunt rerum incidunt a exercitationem tenetur corporis ipsum nobis nisi, dolor sed.
    </p>
</Layout>
